* {
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: 'poppins-regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  background-color: #4dc971;
  /* padding: 10px; */
  width: 393px;
  height: 110px;
}

.h2 {
  color: #4dc971e8;
  font-size: 20;
  font-weight: bold;
}

.p {
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: center;
  width: 393px;
  /* height: 852px; */
  /* background-color: beige; */
}

.button {
  cursor: pointer;
  padding: 10px;
}

.steps {
  display: flex;
  justify-content: center;
  width: 393px;
  margin-top: 18px;
}

/* Green: ##4DC971E8 */
